<div class="fs-2x d-flex justify-content-center">
    ACCOUNT SETUP FORM
</div>
<div class="fs-1x d-flex justify-content-center mb-2">
    Prior to sending any samples, you need to complete the Account Setup Form below, or may be a delay in processing.
</div>

<div class="card card-custom example example-compact">
   
    <!--begin::Form-->
    <form class="form">
        <div class="card-body">
            <div class="card-header mb-10">
                <h3 class="card-title">Client Information<span class="arabaicText">&nbsp;/ معلومات العميل</span></h3>
           
            </div>
            <div class="form-group row mb-10">
                <div class="col-lg-6">
                    <label>Facility Name<span class="text-danger">*</span></label>
                    <input type="email" class="form-control" placeholder="Enter facility name" />
                    <!-- <span class="form-text text-muted">Please enter your full name</span> -->
                </div>
                <div class="col-lg-6">
                    <label>Phone<span class="text-danger">*</span></label>
                    <input type="email" class="form-control" placeholder="Enter contact number" />
                </div>
            </div>
            <div class="form-group row mb-10">
                <div class="col-lg-6">
                    <label>Address<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="Enter  address" />
                </div>
               
            </div>

            <div class="form-group row mb-10">
                <div class="col-lg-6">
                    <label>City<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="Enter city" />
                </div>
                <div class="col-lg-3">
                    <label>State<span class="text-danger">*</span></label>
                    <select class="form-control">
                        <option value="">select</option>
                        <option value="">Alaska</option>
                        <option value="">Albama</option>
                        <option value="">Boston</option>
                    </select>
                </div>

                <div class="col-lg-3">
                    <label>Postal code<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="Enter Postal Code" />
                </div>
            </div>
            <div class="form-group row  mb-10">
                <div class="col-lg-6">
                    <label>Fax No<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="Enter Fax No" />
                </div>
              
            </div>
            <div class="form-group row mb-10">
                <label></label>
                <div class="checkbox-list col-lg-12">
                    <label class="checkbox checkbox-outline col-2">
                        <input type="checkbox" />
                        <span></span>
                        Client Bill
                    </label>
                    <label class="checkbox checkbox-outline col-2">
                        <input type="checkbox" />
                        <span></span>
                        Mobile
                    </label>
                    <label class="checkbox checkbox-outline col-2">
                        <input type="checkbox" />
                        <span></span>
                        Dymo Printing
                    </label>
                    <label class="checkbox checkbox-outline col-2">
                        <input type="checkbox" />
                        <span></span>
                        Bulk Upload Orders
                    </label>
                    <label class="checkbox checkbox-outline col-2">
                        <input type="checkbox" />
                        <span></span>
                        Notify Specimen Collections
                    </label>
                </div>
            </div>
            <div class="form-group row mb-10">
                <label></label>
                <div class="col-2">
                    <a href="#" class="btn btn-danger btn-lg">
                        <i class="flaticon-questions-circular-button"></i>Add Location
                    </a>
                </div>
            </div>

          
            <div class="card-header mb-10">
                <h2 class="card-title">Contact Information</h2>
            </div>
            <div class="form-group row mb-10">
                <label class="col-2 col-form-label">Primary Contact Name<span class="text-danger">*</span></label>
                <div class="col-4">
                    <input class="form-control" type="text" id="example-text-input" />
                </div>
                <label for="example-search-input" class="col-2 col-form-label">Title</label>
                <div class="col-4">
                    <input class="form-control" type="search" id="example-search-input" />
                </div>
            </div>
            <div class="form-group row  mb-10">
                <label for="example-email-input" class="col-2 col-form-label">Primary Contact Phone<span class="text-danger">*</span></label>
                <div class="col-4">
                    <input class="form-control" type="email" id="example-email-input" />
                </div>
                <label for="example-url-input" class="col-2 col-form-label">Primary Contact Email<span class="text-danger">*</span></label>
                <div class="col-4">
                    <input class="form-control" type="url" id="example-url-input" />
                </div>
            </div>
            <div class="form-group row  mb-10">
                <label for="example-tel-input" class="col-2 col-form-label"></label>
                <div class="col-4">
             
                </div>
                <label for="example-password-input" class=" col-2 col-form-label">Location ID<span class="text-danger">*</span></label>
                <div class="col-4">
                    <input class="form-control" type="password" id="example-password-input" />
                </div>
            </div>

            <div class="card card-custom card-bordered mb-10">
                <div class="card-header">
                    <div class="align-self-center fs-6 card-title">Critical Contact Information</div>
                </div>
                <div class="card-body">
                    <div class="card-body p-0">
                        <div class="form-group row ">
                            <div class="col-lg-4">
                                <label>Critical Contact Name<span class="text-danger">*</span></label>
                                <input type="email" class="form-control" />
                            </div>
                            <div class="col-lg-4">
                                <label>Critical Contact Phone Number<span class="text-danger">*</span></label>
                                <input type="email" class="form-control" />
                            </div>
                            <div class="col-lg-4">
                                <label>Critical Contact Email<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row mb-10">
                <label class="col-2">Ordering Method:</label>
                <div class="radio-inline col-10">
                    <label class="radio col-1">
                        <input type="radio" name="radios2" />
                        <span></span>
                        Paper
                    </label>
                    <label class="radio col-1">
                        <input type="radio" name="radios2" />
                        <span></span>
                        Electronic
                    </label>
                </div>
            </div>
            <div class="form-group row mb-10">
                <label class="col-2">Preffered Result Notification Method:</label>
                <div class="checkbox-list col-lg-8">
                    <label class="checkbox checkbox-outline col-2">
                        <input type="checkbox" />
                        <span></span>
                        Web Portal
                    </label>
                    <label class="checkbox checkbox-outline col-2">
                        <input type="checkbox" />
                        <span></span>
                        HIPPAA FAX #
                    </label>
                    <label class="checkbox checkbox-outline col-2">
                        <input type="checkbox" />
                        <span></span>
                        EMR Direct
                    </label>
                    <label class="checkbox checkbox-outline col-2">
                        <input type="checkbox" />
                        <span></span>
                        EMR
                    </label>
                </div>
            </div>




            <div class="card card-custom card-bordered mb-10 col-6">
                <div class="card-header">
                    <div class="align-self-center fs-6 card-title">Primary Physicians Details</div>
                </div>
                <div class="card-body">
                    <div class="card-body p-0">
                        <div class="form-group row mb-10">
                            <label class="col-2"><b>Account Activation Type:</b></label>
                            <div class="radio-inline col-10">
                                <label class="radio col-2">
                                    <input type="radio" name="radios2" />
                                    <span></span>
                                    Email
                                </label>
                                <label class="radio col-4">
                                    <input type="radio" name="radios2" />
                                    <span></span>
                                    Username
                                </label>
                            </div>
                        </div>
                        <div class="form-group row  mb-10">
                            <label class="col-2 col-form-label">Physician Full Name</label>
                            <div class="col-lg-6">
                                <input type="email" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row  mb-10">
                            <label class="col-2 col-form-label">NPI#</label>
                            <div class="col-lg-6">
                                <input type="email" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row  mb-10">
                            <label class="col-2 col-form-label">State License #</label>
                            <div class="col-lg-6">
                                <input type="email" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group row mb-10">
                <label></label>
                <div class="col-2">
                    <a href="#" class="btn btn-primary btn-lg">
                        <i class="flaticon-questions-circular-button"></i>Add User
                    </a>
                </div>
            </div>


            <div class="card-header mb-10">
                <h2 class="card-title">Special Request</h2>
            </div>

            <div class="form-group row  mb-10">
                <div class="col-8">
                    <textarea class="form-control" name="memo" placeholder="Enter a menu" rows="3"></textarea>
                  
                </div>
            </div>

            <div class="card-header mb-10">
                <h2 class="card-title">Specimen Pickup Information</h2>
            </div>

            <div class="form-group row mb-10">

                <div class="checkbox-list col-lg-4">
                    <label class="checkbox checkbox-outline col-2">
                        <input type="checkbox" />
                        <span></span>
                        UPS
                    </label>
                    <label class="checkbox checkbox-outline col-2">
                        <input type="checkbox" />
                        <span></span>
                        FEDEX
                    </label>
                </div>
                <div class="col-4">
                    <label>Pickup Time</label>
                    <input class="form-control" type="time" value="13:45:00" id="example-time-input">
                </div>
            </div>
            <div class="form-group row mb-10">
                <div class="checkbox-list col-lg-4">
                    <label class="checkbox checkbox-outline mb-2">
                        <input type="checkbox" />
                        <span></span>
                        Monday
                    </label>
                    <br />
                    <label class="checkbox checkbox-outline mb-2">
                        <input type="checkbox" />
                        <span></span>
                        Tuesday
                    </label>
                    <br />
                    <label class="checkbox checkbox-outline mb-2">
                        <input type="checkbox" />
                        <span></span>
                        Wednesday
                    </label>
                    <br />
                    <label class="checkbox checkbox-outline mb-2">
                        <input type="checkbox" />
                        <span></span>
                        Thursday
                    </label>
                    <br />
                    <label class="checkbox checkbox-outline">
                        <input type="checkbox" />
                        <span></span>
                        Friday
                    </label>

                </div>

            </div>
            <div class="card-footer">
                <button type="reset" class="btn btn-primary mr-2">Save</button>
                <button type="reset" class="btn btn-secondary">Cancel</button>
            </div>
        </div>
       
    </form>
    <!--end::Form-->
</div>