<div class="d-flex flex-column flex-root">
    <!--begin::Authentication - 404 Page-->
    <div class="d-flex flex-column flex-center flex-column-fluid p-10">
        <!--begin::Illustration-->
        <img src="assets/media/img/13.png" alt="" class="mw-100 mb-10 h-lg-450px">
        <!--end::Illustration-->
        <!--begin::Message-->
        <h1 class="fw-bold mb-10" style="color: #A3A3C7">This Page Is Under Development</h1>
        <!--end::Message-->
        <!--begin::Link-->
        <!-- <a class="btn btn-primary" onclick="history.back()">Back</a> -->
        <!--end::Link-->
    </div>
    <!--end::Authentication - 404 Page-->
</div>